**Series Exercises:**
--

**1. Create a Series:**

In [4]:
import pandas as pd
fruits = pd.Series(['apple', 'banana', 'cherry', 'date'], index = ['a', 'b', 'c', 'd'])
print(fruits)
fruits.index

a     apple
b    banana
c    cherry
d      date
dtype: object

Index(['a', 'b', 'c', 'd'], dtype='object')

**2. Accessing elements:**

In [5]:
#print the second "b" element of fruits Series
fruits[2]

'cherry'

**3. Series Operations:**

In [8]:
# Series with the squares of numbers 1-5

squares = pd.Series([1**2, 2**2, 3**2, 4**2, 5**2])
print(squares)
squares.add(10) #add 10 to each item in the series

0     1
1     4
2     9
3    16
4    25
dtype: int64

0    11
1    14
2    19
3    26
4    35
dtype: int64

----

**DataFrame Exercises:**
--

**1. Create a DataFrame:**

In [70]:
info = [
    ['Phoebe', 19, 'A'],
    ['Patrick', 21, 'B'],
    ['Petty', 20, 'A'],
]

students = pd.DataFrame(info, columns = ['Name', 'Age', 'Grade'])
students

      Name  Age Grade
0   Phoebe   19     A
1  Patrick   21     B
2    Petty   20     A

**2. Accessing Data**

In [71]:
students['Name']

0     Phoebe
1    Patrick
2      Petty
Name: Name, dtype: object

**3. DataFrame Operations:**

In [72]:
#add new column 'Graduated', True if grade is 'A' and False otherwise
info = [
    ['Phoebe', 19, 'A', True],
    ['Patrick', 21, 'B', False],
    ['Petty', 20, 'A', True],
]

students = pd.DataFrame(info, columns = ['Name', 'Age', 'Grade', 'Graduated'])
students

      Name  Age Grade  Graduated
0   Phoebe   19     A       True
1  Patrick   21     B      False
2    Petty   20     A       True

**4. Maths:**

In [73]:
#average age of the students
ave = students["Age"].mean()
print(ave)

20.0

**5. Sorting:**

In [74]:
#sort students based on age in descending order
desc_age = students.sort_values("Age", ascending = False)
desc_age

      Name  Age Grade  Graduated
1  Patrick   21     B      False
2    Petty   20     A       True
0   Phoebe   19     A       True

**6. Tidy Data:**

In [75]:
#organize the data with column as variable and row as observation

cognitive_health_happiness_dict = {'subject 1':10,
                                  'subject 2': 15, 
                                  'subject 3': 15+3, 
                                  'subject 4': 15-2}
cognitive_health_happiness_series = pd.Series(cognitive_health_happiness_dict)

cognitive_health_language_dict = {'subject 1':2,
                                  'subject 2': 4, 
                                  'subject 3': 4+3, 
                                  'subject 4': 4-2}
cognitive_health_language_series = pd.Series(cognitive_health_language_dict)


cognitive_health_energy_dict = {'subject 1': 5,
                                  'subject 2': 9, 
                                  'subject 3': 9+3, 
                                  'subject 4': 9-2}
cognitive_health_energy_series = pd.Series(cognitive_health_energy_dict)


cognitive_health_memory_dict = {'subject 1': 3,
                                  'subject 2': 6, 
                                  'subject 3': 6+3, 
                                  'subject 4': 6+2}
cognitive_health_memory_series = pd.Series(cognitive_health_memory_dict)


dict = {'happiness' : cognitive_health_happiness_series, 
        'language' : cognitive_health_language_series, 
        'energy' : cognitive_health_energy_series,
        'memory' : cognitive_health_memory_series,
       }
sample = pd.DataFrame(dict)
sample

           happiness  language  energy  memory
subject 1         10         2       5       3
subject 2         15         4       9       6
subject 3         18         7      12       9
subject 4         13         2       7       8

In [76]:
#compute mean of all variables
sample.mean()

happiness    14.00
language      3.75
energy        8.25
memory        6.50
dtype: float64

In [77]:
#computer standard deviation of all variables
sample.std()

happiness    3.366502
language     2.362908
energy       2.986079
memory       2.645751
dtype: float64

In [79]:
#mean of happiness variable
sample["happiness"].mean()

14.0

In [80]:
#standard error of happiness variable
sample["happiness"].sem()

1.6832508230603465