**Writing inner part of function using the data file "018_HW_2x2_data.csv"**

In [39]:
import pandas as pd
import numpy as np

input_data = pd.read_csv("tutorials/datasets/018_HW_2x2_data.csv") #read data

raw_data = input_data.to_numpy() # convert to numpy array

obs, grps = raw_data.shape # get the number of rows and columns

new_length = obs*grps # compute total number of observations

values_col = np.reshape(raw_data, (new_length, 1),order = 'F') # reshape the array

values_col = np.squeeze(values_col) # squeeze to make 1Dimension


#construct inner grouping variable
levels = np.array(['1', '2'])
levels = np.repeat(levels, obs) # making one cycle of the levels
levels = np.tile(levels, 2) # repeating the cycle

#construct the outer grouping variable
conditions = np.array(['A', 'B'])
conditions = np.repeat(conditions, new_length/2)

#construct the data frame
tidy_data_dict = {"Values": values_col,           #organizing numpy array into dictionary
                 "Condition": conditions,
                 "Level": levels}

tidy_data = pd.DataFrame(tidy_data_dict)         # making panda dataframe out of dict
tidy_data

   Values Condition Level
0      10         A     1
1      15         A     1
2      20         A     2
3      25         A     2
4      30         B     1
5      35         B     1
6      40         B     2
7      45         B     2

**Testing function on file "018_HW_2x2_data2.csv"**

In [40]:
def tidyData(filename) :   
    
    import pandas as pd
    import numpy as np

    input_data = pd.read_csv(filename) #read data

    raw_data = input_data.to_numpy() # convert to numpy array

    obs, grps = raw_data.shape # get the number of rows and columns

    new_length = obs*grps # compute total number of observations

    values_col = np.reshape(raw_data, (new_length, 1),order = 'F') # reshape the array

    values_col = np.squeeze(values_col) # squeeze to make 1Dimension


    #construct inner grouping variable
    levels = np.array(['1', '2'])
    levels = np.repeat(levels, obs) # making one cycle of the levels
    levels = np.tile(levels, 2) # repeating the cycle

    #construct the outer grouping variable
    conditions = np.array(['A', 'B'])
    conditions = np.repeat(conditions, new_length/2)

    #construct the data frame
    tidy_data_dict = {"Values": values_col,
                     "Condition": conditions,
                     "Level": levels}

    tidy_data = pd.DataFrame(tidy_data_dict)
    return tidy_data

In [41]:
tidyData("tutorials/datasets/018_HW_2x2_data2.csv")

    Values Condition Level
0       10         A     1
1       15         A     1
2       20         A     1
3       25         A     1
4       30         A     1
5       35         A     1
6       20         A     2
7       25         A     2
8       30         A     2
9       35         A     2
10      40         A     2
11      45         A     2
12      30         B     1
13      35         B     1
14      40         B     1
15      45         B     1
16      50         B     1
17      55         B     1
18      40         B     2
19      45         B     2
20      50         B     2
21      55         B     2
22      60         B     2
23      65         B     2